<%- include('components/header.html', { title: 'Accueil' }) %>

   <main>
      <section id="hero-projects">
         <div class="container">
            <div class="title">
               <span>Voir</span>
               <span>Mes</span>
               <span>Projets</span>
               <span>Realises</span>
            </div>
         </div>
      </section>

      <section style="height: 200vh; background-color: var(--light);"></section>
   </main>

   <%- include('components/footer.html') %>