<%- include('components/header.html', { title: 'Accueil' }) %>

   <main>

      <div class="bg">
         <div class="gradiant"></div>
      </div>

      <!-- HERO -->
      <section id="hero">
         <div class="container">
            <div class="h1">
               <span>Portfolio</span>

               <div class="texts">
                  <p>
                     Portfolio crée par <br>
                     Léo Philippe
                  </p>
                  <span>De Leo</span>
               </div>

               <span>Philippe</span>
               <span>Dev. Web</span>
            </div>

            <div class="bottom">
               <p>Scroller pour découvrir</p>
               <div class="line">
                  <span></span>
               </div>
            </div>
         </div>
      </section>

      <!-- QUI -->
      <section id="qui">
         <div class="container">
            <div class="texts">
               <div class="box">
                  <p>Qui suis je</p>
                  <span class="text1">Qui suis je</span>
                  <span class="text2">Qui suis je</span>
               </div>
            </div>
         </div>
      </section>

      <!-- PRESENTATION -->
      <section id="presentation">
         <div class="container">
            <p>Etudiant a MyDigitalSchool</p>
            <p>de Caen,</p>
            <p>J'evolue dans le</p>
            <p><span>Developpement</span></p>
            <p><span>Web.</span></p>
            <p>Actuellement à la Recherche</p>
            <p>
               d'un <span>Stage</span> et d'une
               <span class="margin">Alternance</span>
            </p>
            <p>dans ce Domaine</p>

            <div class="btn">
               <a href="">En savoir plus</a>
            </div>
         </div>
      </section>

      <!-- MDS -->
      <section id="MDS">
         <div class="container">
            <div class="title">
               <span>My</span>
               <span>Digital</span>
               <span>School</span>
            </div>
            <div class="mainText">
               <span>J'ai</span>
               <span>rejoins</span>
               <span>My</span>
               <span>Digital</span>
               <span>School</span>
               <span>en</span>
               <span>2025</span>
               <span>pour</span>
               <span>découvrir</span>
               <span>les</span>
               <span>métiers</span>
               <span>du</span>
               <span>digital</span>
            </div>

      </section>

      <section style="height: 200vh; background-color: var(--light);"></section>

   </main>

   <%- include('components/footer.html') %>