<%- include('components/header.html', { title: 'Accueil' }) %>

    <main id="rave">
        <div class="bg-hero">
            <div class="gradiant"></div>
        </div>
        <section id="hero">
            <div class="container">
                <div class="tag glitched-text" data-text="Developpement Web">Developpement Web</div>
                <div class="h1">
                    <span>Projet</span>
                    <span>Rave</span>
                </div>
                <div class="date">Du 03/03 au 07/03 en 2025</div>
                <div class="summary mono">
                    <div class="card ">
                        <div class="number">
                            <span>1.1</span>
                        </div>
                        <div class="text">
                            <span>Contexte</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="number">
                            <span>1.2</span>
                        </div>
                        <div class="text">
                            <span>Objectif</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="number">
                            <span>1.3</span>
                        </div>
                        <div class="text">
                            <span>Actions réalisées</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="context">
            <div class="container">
                <div class="title">
                    <span>[ </span>
                    <span class="glitched-text" data-text="Contexte">Contexte</span>
                    <span> ]</span>
                </div>
            </div>
        </section>
    </main>

    <%- include('components/footer.html') %>