<%- include('components/header.html', { title: 'Accueil' }) %>

    <main id="rave">
        <div class="bg-hero">
            <div class="gradiant"></div>
        </div>
        <section id="hero">
            <div class="container">
                <div class="tag glitched-text" data-text="Developpement Web">Developpement Web</div>
                <div class="h1">
                    <span>Projet</span>
                    <span>Rave</span>
                </div>
                <div class="date">Du 03/03 au 07/03 en 2025</div>
                <div class="summary mono">
                    <div class="card ">
                        <div class="number">
                            <span>1.1</span>
                        </div>
                        <div class="text">
                            <span>Contexte</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="number">
                            <span>1.2</span>
                        </div>
                        <div class="text">
                            <span>Objectif</span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="number">
                            <span>1.3</span>
                        </div>
                        <div class="text">
                            <span>Actions réalisées</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="context" class="project-summary">
            <div class="container">
                <div class="title">
                    <div class="hook-left">
                        <span>[</span>
                    </div>
                    <span class="mainText glitched-text" data-text="Contexte">Contexte</span>
                    <div class="hook-right">
                        <span>]</span>
                    </div>
                </div>
                <div class="content">
                    <div class="card">
                        <div class="categorie">
                            <span>Contexte</span>
                        </div>
                        <div class="infos">
                            <p><span>Projet réalisé lors du hackathon “Digital Sans Frontières”.</span></p>
                            <p><span>17 écoles, 330 étudiants, équipes de 3-4 personnes.</span></p>
                            <p><span>Aider une association dans la solidarité.</span></p>
                            <p class="not"><span>Travail collaboratif en mode semaine intensive</span>
                            </p>
                            <p class="not"><span>avec rendez-vous client, contraintes réelles</span></p>
                            <p class="not"><span> et présentation finale devant jury.</span> </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="objectifs" class="project-summary">
            <div class="container">
                <div class="title">
                    <div class="hook-left">
                        <span>[</span>
                    </div>
                    <span class="mainText glitched-text" data-text="Objectifs">Objectifs</span>
                    <div class="hook-right">
                        <span>]</span>
                    </div>
                </div>
                <div class="content">
                    <div class="card">
                        <div class="categorie">
                            <span>Objectifs</span>
                        </div>
                        <div class="infos">
                            <p><span>Créer un site vitrine complet de A à Z.</span></p>
                            <p><span>Proposer une stratégie de communication digitale.</span></p>
                            <p class="not"><span>Livrer un projet fonctionnel, accessible, optimisé </span></p>
                            <p class="not"><span>et éco-responsable</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="actions" class="project-summary">
            <div class="container">
                <div class="title">
                    <div class="hook-left">
                        <span>[</span>
                    </div>
                    <span class="mainText glitched-text" data-text="Actions">Actions</span>
                    <div class="hook-right">
                        <span>]</span>
                    </div>
                </div>
                <div class="title">
                    <div class="hook-left">
                        <span>[</span>
                    </div>
                    <span class="mainText glitched-text" data-text="Réalisées">Réalisées</span>
                    <div class="hook-right">
                        <span>]</span>
                    </div>
                </div>
                <div class="content">
                    <div class="card">
                        <div class="categorie">
                            <span>Actions réalisées</span>
                        </div>
                        <div class="infos">
                            <p><span>Recherches graphiques.</span></p>
                            <p><span>Définition de la maquette.</span></p>
                            <p class="not"><span>Intégration.</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('components/footer.html') %>