<%- include('components/header.html', { title: 'Accueil' }) %>

    <main id="rave">
        <div class="bg-hero">
            <div class="gradiant"></div>
        </div>
        <section id="hero">
            <div class="container">
                <div class="tag glitched-text" data-text="Developpement Web">Developpement Web</div>
                <div class="h1">
                    <span>Projet</span>
                    <span>Rave</span>
                </div>
                <div class="date">Du 03/03 au 07/03 en 2025</div>
            </div>
        </section>
    </main>

    <%- include('components/footer.html') %>