@use '../components/mixins' as *;


@keyframes line {
    0% {
        width: 0;
    }

    50% {
        width: 50px;
    }

    51% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}

.bg {
    position: absolute;
    height: 150vh;
    width: 100%;
    top: 0;
    left: 0;
    background-image:
        linear-gradient(to right, white 1px, transparent 1px),
        linear-gradient(to bottom, white 1px, transparent 1px);
    background-size: 40px 40px;
    opacity: 0.05;
    pointer-events: none;

    .gradiant {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        height: 150vh;
        width: 100%;
        background: linear-gradient(transparent, rgba(0, 0, 0, 0.165), black);
    }
}

#hero {
    height: 100vh;
    padding: 0 60px;

    .container {
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 15px 0;

        .h1 {
            display: flex;
            flex-flow: column;

            span {
                text-transform: uppercase;
                display: flex;
                align-items: center;
                line-height: 20.5vh;
            }

            .texts {
                text-transform: normal;
                display: flex;
                gap: 10px;

                p {
                    margin: 8.5px 0 0 7px;
                    font-size: 1.6rem;
                    color: var(--light);
                }
            }
        }

        .bottom {
            display: flex;
            gap: 20px;
            align-items: center;
            margin-bottom: 12px;

            p {
                text-transform: uppercase;
                color: var(--light);
                font-size: 16px;
                font-weight: 400;
            }

            .line {
                width: 50px;
                overflow: hidden;

                span {
                    display: block;
                    height: 1px;
                    background-color: var(--light);
                    animation: line 2s ease infinite forwards;
                }
            }
        }
    }
}


#qui {
    height: 250vh;

    .container {
        display: flex;
        height: 100%;
        align-items: center;
        flex-flow: column;

        .texts {
            margin: 300px 0 0 0;
            text-transform: uppercase;
            position: sticky;
            top: 50%;
            transform: translateY(-50%);
            z-index: 99;
            height: fit-content;

            .box {
                line-height: .75;
                font-size: 20vw;
                font-weight: 800;
                color: var(--orange-light);
                white-space: nowrap;

                p {
                    transform: translateX(-110%);
                    background-color: black;
                }

                span {
                    display: block;
                    position: absolute;

                    &:nth-child(2) {
                        bottom: 100%;
                        transform: translateX(110%);
                        z-index: -999 !important;
                    }

                    &:last-child {
                        z-index: -999 !important;
                        transform: translateX(110%);
                        bottom: -100%;
                    }
                }
            }

        }
    }
}


#presentation {
    content-visibility: visible;

    .container {
        display: flex;
        flex-flow: column;
        align-items: center;
        position: relative;
        transform: translateY(-130px);

        p {
            color: var(--light);
            font-size: 14.7rem;
            text-align: center;
            font-weight: 700;
            line-height: 88%;
            letter-spacing: -5.4px;

            span {
                position: relative;
                display: inline-block;
                --after-width: 0%;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: var(--after-width);
                    height: 100%;
                    background-color: var(--red);
                    z-index: -1;
                }

                &.margin {
                    margin-top: 22px;
                }
            }
        }

        .btn {
            margin-top: 200px;

            a {
                font-size: 3rem;
                color: var(--light);
                background-color: var(--red);
                padding: 12px 24px;
                border-radius: 100px;
                display: inline-block;
                width: fit-content;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}


#MDS {
    margin-top: 120px;

    .container {
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        gap: 12rem;

        .title {

            span {
                font-weight: 900;
                font-size: 22vw;
                display: block;
                text-align: center;
                text-transform: uppercase;
                color: var(--orange);
                line-height: 73%;
                font-family: 'Thunder';
                position: relative;

                &::after {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    font-size: 4rem;
                    color: white;
                    z-index: 1;
                    line-height: normal;
                    transform: translate(-50%, -90%);
                    font-family: 'Tempting';
                    text-transform: none;
                    font-weight: normal;
                }

                &:first-child::after {
                    content: 'Bachelor';
                }

                &:nth-child(2)::after {
                    content: 'Cycle Web';
                }

                &:last-child::after {
                    content: 'Multimedia';
                }
            }
        }

        .mainText {
            height: 200vh;

            .texts {
                height: 100vh;
                width: 100%;
                display: flex;
                position: sticky;
                top: 0;
                left: 0;
                justify-content: center;
                align-items: center;

                .textbox {
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    gap: 10px;

                    div {
                        display: flex;
                        gap: 10px;

                        &:last-child span:last-child {
                            color: var(--orange);
                        }
                    }

                    span {
                        font-size: 6.5rem;
                        font-weight: 500;
                        position: relative;
                        line-height: 1.2;
                        padding: 0 .1rem;
                        color: var(--white);

                        --after-opacity: 1;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #262626;
                            z-index: 1;
                            opacity: var(--after-opacity);
                            display: block;
                        }
                    }
                }
            }
        }

        .secondText {
            display: flex;
            flex-flow: column;
            align-items: center;
            gap: 6rem;
            position: relative;
            padding-bottom: 200px;

            .about {
                position: absolute;
                top: 20px;
                left: 0;
                display: flex;
                gap: 20px;
                align-items: center;
                margin-bottom: 12px;

                p {
                    text-transform: uppercase;
                    color: var(--white);
                    font-size: 16px;
                    font-weight: 400;
                }

                .line {
                    width: 50px;
                    overflow: hidden;

                    span {
                        display: block;
                        height: 1px;
                        background-color: var(--white);
                        animation: line 2s ease infinite forwards;
                    }
                }
            }

            p {
                font-size: 6.4rem;
                font-weight: 500;
                line-height: 1.2;
                color: var(--white);

                span {
                    height: 7.04rem;
                    width: 500px;
                    display: inline-block;
                }
            }

            .circle {
                width: 70%;
                aspect-ratio: 1;
                background-color: var(--orange);
                border-radius: 100%;
                position: absolute;
                bottom: 0;
                transform: translateY(90%);
            }
        }
    }
}







@include mq(md) {

    #MDS {
        .container {
            .title {

                span {
                    font-size: 30vw;
                }
            }
        }
    }
}


@include mq(sm) {

    #hero {
        .container {
            padding-top: 100px;

            .h1 {

                span {
                    font-size: 17vh;
                    line-height: 15vh;
                }

                .texts {

                    p {
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }

    #presentation {
        content-visibility: visible;

        .container {
            display: flex;
            flex-flow: column;
            align-items: center;
            position: relative;
            transform: translateY(-60px) !important;

            p {
                color: var(--light);
                font-size: 10rem;
                text-align: center;
                font-weight: 700;
                line-height: 88%;
                letter-spacing: -5.4px;
            }
        }
    }

    #MDS {
        .container {
            .title {

                span {
                    font-size: 38vw;
                }
            }

            .mainText .texts .textbox {

                span {
                    font-size: 5.8rem;
                }
            }
        }
    }
}


@include mq(xs) {

    #hero {
        .container {
            .h1 {

                span {
                    font-size: 12vh;
                    line-height: 11.8vh;
                }
            }
        }
    }

    #qui {

        .container {

            .texts {

                .box {
                    background-color: black;
                    line-height: .75;
                    font-size: 19vw;
                    font-weight: 800;
                    color: var(--orange-light);
                    white-space: nowrap;
                    background-color: black;
                }

            }
        }
    }

    #presentation {
        content-visibility: visible;

        .container {
            display: flex;
            flex-flow: column;
            align-items: center;
            position: relative;
            transform: translateY(-60px) !important;

            p {
                color: var(--light);
                font-size: 6rem;
                text-align: center;
                font-weight: 700;
                line-height: 95%;
                letter-spacing: -5.4px;
            }
        }
    }

    #MDS {
        .container {
            .title {

                span {
                    font-size: 38vw;
                }
            }

            .mainText .texts .textbox {

                span {
                    font-size: 4.6rem;
                }
            }
        }
    }


}


@include mq(xxs) {

    #hero {
        .container {
            .h1 {

                span {
                    font-size: 5.5vh;
                    line-height: 6vh;
                    white-space: nowrap;
                }

                .texts {

                    p {
                        display: none;
                    }
                }
            }
        }
    }

    #presentation {
        content-visibility: visible;

        .container {
            display: flex;
            flex-flow: column;
            align-items: center;
            position: relative;
            transform: translateY(-60px) !important;

            p {
                color: var(--light);
                font-size: 4rem;
                text-align: center;
                font-weight: 700;
                line-height: 100%;
                letter-spacing: 0px;

                span.margin {
                    margin-top: 0;
                }
            }
        }
    }

    #MDS {
        .container {

            .mainText .texts .textbox {

                gap: 5px;

                div{
                    gap: 5px;
                }

                span {
                    font-size: 2.4rem;
                    line-height: 1.2;
                }
            }
        }
    }
}