@use '../components/mixins' as *;


main#rave {

    #hero {
        margin: 60px 0 200px;

        .container {

            .tag {
                margin-bottom: 60px;
                font-size: 2rem;
                font-weight: 100;
                text-transform: uppercase;
                color: var(--white);
            }

            .h1 {
                margin-left: -10px;

                span {
                    display: block;
                    text-transform: uppercase;
                    align-items: center;
                    line-height: 20.5vh;
                }
            }

            .date{
                margin-top: 1rem;
                font-size: 2rem;
                font-weight: 400;
            }
        }
    }
}