@use '../components/mixins' as *;


main#rave {

    #hero {
        padding: 60px 0;
        height: 100vh;

        .container {
            position: relative;
            height: 100%;

            .tag {
                margin-bottom: 60px;
                font-size: 2rem;
                font-weight: 100;
                text-transform: uppercase;
                color: var(--white);
            }

            .h1 {
                margin-left: -10px;

                span {
                    display: block;
                    text-transform: uppercase;
                    align-items: center;
                    line-height: 20.5vh;
                }
            }

            .date {
                margin-top: 1rem;
                font-size: 2rem;
                font-weight: 400;
                color: var(--white);
            }

            .summary {
                width: 60%;
                position: absolute;
                bottom: 0;
                left: 0;

                .card {
                    display: block;
                    border-top: .5px solid var(--white);
                    padding: 1.5rem 0;
                    display: flex;

                    &:last-child {
                        border-bottom: .5px solid var(--white);
                    }

                    &>* {
                        flex: 1;
                    }

                    span {
                        font-size: 1.4rem;
                        color: var(--white);
                        font-family: "GoogleSansCode";
                        font-weight: 100;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }


    .project-summary {
        margin: 200px 0;

        .container {

            .title {
                width: 100%;
                display: flex;
                justify-content: end;

                span {
                    font-size: 16rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: var(--white);

                    &:not(:nth-child(2)) {
                        display: inline-block;
                        transform: translateY(-10px);
                    }
                }

                .mainText {
                    margin: 0 80px;
                }
            }


            .content {
                margin-top: 90px;
                display: flex;

                .card {
                    width: 60%;

                    .categorie {
                        overflow: hidden;
                        font-size: 1.6rem;
                        text-transform: uppercase;
                        color: var(--orange-light);
                        font-weight: 600;
                        margin-bottom: 10px;

                        span {
                            width: fit-content;
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            &::before {
                                content: '';
                                width: 5px;
                                height: 5px;
                                background-color: var(--orange-light);
                            }

                        }
                    }

                    .infos {
                        font-size: 2.8rem;
                        color: var(--white);
                        font-weight: 600;
                        margin-bottom: 5px;
                        width: 100%;
                        line-height: 1.2;

                        p {
                            overflow: hidden;

                            &:not(.not) {
                                margin-bottom: 10px;
                            }

                            span {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

    #objectifs {

        .container {

            .title {
                justify-content: start;
            }

            .content {
                justify-content: end;
            }
        }
    }

    #actions {
        .container {
            .title:first-child {
                justify-content: start;
                margin-bottom: 60px;
            }

            .title:last-child {
                justify-content: end;
            }

            .content {
                justify-content: center;
                width: 100%;
            }
        }
    }

    #section-box {
        position: relative;

        #actions,
        #process {
            position: sticky;
            top: 20px;

            --index0: calc(var(--index) - 1);
            z-index: calc(var(--index0) + 1);
        }
    }

    #process {
        height: 100vh;
        background-color: var(--bg);
    }












    @include mq(md) {}

    @include mq(sm) {

        #hero {
            .container {

                .tag,
                .date {
                    font-size: 1.8rem;
                }

                .h1 {
                    span {
                        font-size: 18rem;
                    }
                }
            }
        }

        .project-summary {

            .container {

                .title {

                    span {
                        font-size: 10rem;

                        &:not(:nth-child(2)) {
                            display: inline-block;
                            transform: translateY(-8px);
                        }
                    }

                    .mainText {
                        margin: 0 60px;
                    }
                }

                .content {

                    .card {

                        .categorie {
                            font-size: 1.2rem;
                            margin-bottom: 10px;
                        }

                        .infos {
                            font-size: 2.4rem;

                            p {

                                &:not(.not) {
                                    margin-bottom: 10px;
                                }

                                span {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include mq(xs) {

        #hero {
            margin: 60px 0 90px;

            .container {

                .tag,
                .date {
                    font-size: 1.5rem;
                }

                .h1 {
                    span {
                        font-size: 15rem;
                    }
                }
            }
        }

        .project-summary {

            .container {

                .title {

                    span {
                        font-size: 6rem;

                        &:not(:nth-child(2)) {
                            display: inline-block;
                            transform: translateY(-4px);
                        }
                    }

                    .mainText {
                        margin: 0 40px;
                    }
                }

                .content {

                    .card {
                        width: 100%;

                        .categorie {
                            font-size: 1rem;
                            margin-bottom: 10px;
                        }

                        .infos {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }
    }

    @include mq(xxs) {

        #hero {
            .container {

                .tag {
                    font-size: 1.2rem;
                    margin-bottom: 30px;

                }

                .date {
                    font-size: 1.2rem;
                }

                .h1 {
                    span {
                        font-size: 8rem;
                        line-height: 8rem;
                    }
                }
            }
        }

        .project-summary {

            .container {

                .title {

                    span {
                        font-size: 4rem;

                        &:not(:nth-child(2)) {
                            display: inline-block;
                            transform: translateY(-4px);
                        }
                    }

                    .mainText {
                        margin: 0 30px;
                    }
                }

                .content {

                    .card {
                        width: 100%;

                        .categorie {
                            font-size: 1rem;
                            margin-bottom: 10px;
                        }

                        .infos {
                            font-size: 2rem;
                        }
                    }
                }
            }
        }

        #actions {

            .container {

                .title:first-child {
                    justify-content: start;
                    margin-bottom: 30px;
                }

                .title:last-child {
                    justify-content: end;
                }

                .content {
                    justify-content: center;
                    width: 100%;
                }
            }
        }
    }
}