@use '../components/mixins' as *;


main#rave {

    #hero {
        padding: 60px 0;
        height: 100vh;

        .container {
            position: relative;
            height: 100%;

            .tag {
                margin-bottom: 60px;
                font-size: 2rem;
                font-weight: 100;
                text-transform: uppercase;
                color: var(--white);
            }

            .h1 {
                margin-left: -10px;

                span {
                    display: block;
                    text-transform: uppercase;
                    align-items: center;
                    line-height: 20.5vh;
                }
            }

            .date {
                margin-top: 1rem;
                font-size: 2rem;
                font-weight: 400;
                color: var(--white);
            }

            .summary {
                width: 60%;
                position: absolute;
                bottom: 0;
                left: 0;

                .card {
                    display: block;
                    border-top: .5px solid var(--white);
                    padding: 1.5rem 0;
                    display: flex;

                    &:last-child {
                        border-bottom: .5px solid var(--white);
                    }

                    &>* {
                        flex: 1;
                    }

                    span {
                        font-size: 1.4rem;
                        color: var(--white);
                        font-family: "GoogleSansCode";
                        font-weight: 100;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }


    #context {
        margin: 200px 0;

        .container {

            .title {
                width: 100%;
                text-align: right;

                span {
                    font-size: 16rem;
                    text-transform: uppercase;
                    font-weight: 500;
                    color: var(--white);

                    &:not(:nth-child(2)) {
                        display: inline-block;
                        transform: translateY(-10px);
                    }
                }
            }
        }
    }












    @include mq(md) {}

    @include mq(sm) {

        #hero {
            .container {

                .tag,
                .date {
                    font-size: 1.8rem;
                }

                .h1 {
                    span {
                        font-size: 18rem;
                        line-height: 18rem;
                    }
                }
            }
        }
    }

    @include mq(xs) {

        #hero {
            margin: 60px 0 90px;

            .container {

                .tag,
                .date {
                    font-size: 1.5rem;
                }

                .h1 {
                    span {
                        font-size: 15rem;
                        line-height: 15rem;
                    }
                }
            }
        }
    }

    @include mq(xxs) {

        #hero {
            .container {

                .tag {
                    font-size: 1.2rem;
                    margin-bottom: 30px;

                }

                .date {
                    font-size: 1.2rem;
                }

                .h1 {
                    span {
                        font-size: 8rem;
                        line-height: 8rem;
                    }
                }
            }
        }
    }
}