@use 'sass:map' as *;
@use 'components/variables' as *;
@use 'components/mixins' as m;
@use 'components/icons';
@use 'components/header';
@use 'components/footer';
@use 'pages/home';
@use 'pages/rave';



*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --white: #eaeaea;
    --black: #000000;
    --bg: #000000;

    --orange: #FF4400;
    --orange-light: #FFB261;
    --red: #EF5143;
    --light: #FEE9CE;

    --base-px: 10px;
    --gap-content: 2rem;
}

::selection {
    background-color: var(--orange);
    color: var(--light);
}

@font-face {
    font-family: 'Avantt';
    src: url('../fonts/Avantt.ttf');
    display: swap;
}

@font-face {
    font-family: 'Thunder';
    src: url('../fonts/Thunder.ttf');
    display: swap;
}

@font-face {
    font-family: 'Brier';
    src: url('../fonts/Brier.otf');
    display: swap;
}

@font-face {
    font-family: 'Tempting';
    src: url('../fonts/Tempting.ttf');
    display: swap;
}

@font-face {
    font-family: 'Ppmondwest';
    src: url('../fonts/Ppmondwest.otf');
    display: swap;
}

@font-face {
    font-family: 'GoogleSansCode';
    src: url('../fonts/GoogleSansCode.ttf');
    display: swap;
}


html {
    font-size: var(--base-px);
}

body {
    font-family: 'Avantt';
    background-color: var(--bg);
    color: white;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: var(--black);
}

::-webkit-scrollbar-thumb {
    background: var(--orange);
}


img,
video {
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none;
}



section {
    position: relative;
    background-color: var(--bg);
}


.h1 {
    font-size: 24.5vh;
    font-weight: 900;
    color: var(--orange);
    text-transform: uppercase;
}


.container {
    width: 95%;
    max-width: 1350px;
    margin-inline: auto;
    padding-inline: 15px;
}


.content>*:not(:last-child) {
    margin-bottom: var(--gap-content);
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
}


@include m.col-gen();

@include m.mq(md) {

    @include m.col-gen('-md-');


}

@include m.mq(sm) {
    @include m.col-gen('-sm-');

}

@include m.mq(xs) {

    @include m.col-gen('-xs-');
}

@include m.mq(xxs) {

    [class*='col-'] {
        grid-column: span 12 !important;
    }

}