<footer>
    <div class="container">
        <div class="left">
            <div class="text">
                <span>Projet fait par Léo</span>
                <p>Merci d'y avoir porté attention</p>
            </div>
            <div class="logo">
                <img src="/src/assets/img/logo-footer.svg" alt="">
            </div>
        </div>
        <div class="right">
            <span class="corner"></span>
            <span class="corner"></span>
            <span class="corner"></span>
            <span class="corner"></span>
            <div class="title">
                <p class="">
                    Vous pouvez me contacter
                    <br>
                    ou retrouver mes réseaux ici
                </p>
            </div>
            <div class="infos">
                <div class="contacts box">
                    <div class="text glitched-text" data-text="Me contacter">Me contacter</div>
                    <div class="contact-content content">
                        <div class="mail">leophilippe14@gmail.com</div>
                        <div class="phone">07 61 41 24 89</div>
                    </div>
                </div>
                <div class="socials box">
                    <div class="text glitched-text" data-text="Réseaux">Réseaux</div>
                    <div class="socials-content content">
                        <a target="_blank" href="https://www.linkedin.com/in/l%C3%A9o-philippe-93b568328/"
                            class="linkedin">
                            <span class="icon-linkedin"></span>
                            LinkedIn
                        </a>
                        <a target="_blank" href="https://github.com/tinijuice/" class="github">
                            <span class="icon-github"></span>
                            GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<script type="module" src="/src/main.js"></script>
<script type="module" src="/src/GSAP.js" defer></script>

<!-- fitty -->
<script src="https://unpkg.com/fitty/dist/fitty.min.js"></script>

<!-- GSAP -->
<script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/ScrollTrigger.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/ScrollSmoother.min.js"></script>

<script src="https://unpkg.com/@studio-freight/lenis"></script>

</div>
</div>
</body>

</html>